/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                          http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/* TEXTFIELD */
/*.ui-input-text {
    border: 0px;
    box-shadow: inset 0px 0px 0px 0px;
}*/

.ui-icon-light:after {
    background-image: url("../icons/light.svg");
    /* Make your icon fit */
        background-size: 18px 18px;
}

.ui-icon-load:after {
    background-image: url("../icons/load.svg");
    /* Make your icon fit */
        background-size: 18px 18px;
}

.ui-icon-temperature:after {
    background-image: url("../icons/temperature.svg");
    /* Make your icon fit */
        background-size: 18px 18px;
}

.ui-icon-touch:after {
    background-image: url("../icons/touch.svg");
    /* Make your icon fit */
        background-size: 18px 18px;
}

.ui-icon-key:after {
    background-image: url("../icons/key.svg");
    /* Make your icon fit */
        background-size: 18px 18px;
}

/* BLACK ICONS */

.ui-icon-light-black:after {
    background-image: url("../icons/light-black.svg");
    /* Make your icon fit */
        background-size: 18px 18px;
}

.ui-icon-load-black:after {
    background-image: url("../icons/load-black.svg");
    /* Make your icon fit */
        background-size: 18px 18px;
}

.ui-icon-temperature-black:after {
    background-image: url("../icons/temperature-black.svg");
    /* Make your icon fit */
        background-size: 18px 18px;
}

.ui-icon-touch-black:after {
    background-image: url("../icons/touch-black.svg");
    /* Make your icon fit */
        background-size: 18px 18px;
}


/* SWITCH RIGHT-ALIGNED */
.optContainer .ui-flipswitch {
    float: right;
    margin-right: 0px;
}

/* SLIDER */
/* Hide the number input */
input.ui-slider-input {
    display: none;
}

.full-width-slider .ui-slider-track {
    margin: 0 15px 0 15px !important;
    margin-left: 0px;
    margin-right: 0px;
}

/* HEADER */
.custom-page .custom-header {
    background: #ef6c00 !important;
}

/* FOOTER BUTTONS */
.footer-button-left,
.footer-button-right {
    position: absolute;
    margin: 0;
    top: auto;
    bottom: 0.24em;
}

.footer-button-left {
    left: 0.4em;
}

.footer-button-right {
    right: 0.4em;
}

/* WHITE BUTTON */
.ui-btn-white {
    background-color: #ef6c00 !important;
    border-color: #ffffff !important;
}

/* NAV BAR */
/* Tabs color*/
ul li a.ui-btn-active {
    background-color: #ef6c00 !important;
}

/* CUSTOM PANEL */
@media (min-width: 60em) {
    /* min panel width (if it less the panel disappear */
    #custom-panel {
        visibility: visible;
        position: relative;
        left: 0;
        clip: initial;
        float: left;
        width: 30%;
        background: none;
        -webkit-transition: none !important;
        -moz-transition: none !important;
        transition: none !important;
        -webkit-transform: none !important;
        -moz-transform: none !important;
        transform: none !important;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .my-content {
        width: 67%;
        padding-top: 2em;
        padding-left: 5%;
        padding-right: 3%;
        float: right;
    }

    .opanel {
        visibility: hidden;
    }
}

.ui-content {

}

/* BUTTON WRAPPER - for having a button centered */
.center-wrapper {
    text-align: center;
}

.center-wrapper * {
    margin: 0 auto;
}

/* CHART */
/* various containers */
.container {
    width: 200px;
    margin: 0 auto;
}

.canvas-container {
    min-height: 300px;
    max-height: 600px;
    position: relative;
}

.widget {
    position: relative;
    margin-bottom: 80px;
    background: #efefef;
    padding: 12px;
    margin-bottom: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* POP UP */
.large-popup {
    width: 600px;
    max-width: 100%;
}

.medium-popup {
    width: 350px;
    max-width: 100%;
}

.small-popup {
    width: 200px;
    max-width: 100%;
}

